.contenedor_user{
  border-left: 3px solid #47874a;
  border-radius: 10px 0 0 10px;
  background-color: rgba(71, 135, 74,0.1);
  padding:20px;
  margin: 10px 0;
  width: 100%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
}